[2018-09-16 19:45] Graeme-Code opened #1 "Integrate Ledger Library"
### User Story
As a front-end developer,
I want to create a "connect to ledger" button which will allow a user to a sign transactions and pay GAS fees from their ledger wallet,
So that users may use their ledger wallet on the SNT voting Dapp.

### Description
*Type*: Feature

*Summary*:
We know that holders of SNT will have their SNT in a hardware wallet. Luckily metamask supports Tezors so we kno

[2018-09-18 21:30] StevenJNPearce commented on #1
@Graeme-Code I have the following error from `embark run`:

`./app/dapp.js
Module build failed (from ../embark/node_modules/babel-loader/lib/index.js):
Error: Plugin/Preset files are not allowed to export objects, only functions. In /home/steven/snt-voting/node_modules/babel-preset-stage-2/lib/index.js
    at createDescriptor (/home/steven/embark/node_modules/@babel/core/lib/config/config-descript

[2018-09-19 16:02] StatusSceptre commented on #1
Please find the gitter channel for any other help with Embark @StevenJNPearce [here](https://gitter.im/embark-framework/Lobby)

[2018-09-22 03:43] StevenJNPearce commented on #1
I started implementing this the old way (manually build up and sign each transaction) but I've just seen the method using web3-provider-engine you linked above, it's much more elegant! I will use that implementation instead.

[2018-09-23 17:13] Graeme-Code commented on #1
Embark is awesome like that :)

[2018-09-24 11:15] Graeme-Code commented on #1
Hi @StevenJNPearce how is it going? If you have any questions about the task please don't hesitate to contact me.

[2018-09-24 17:13] StevenJNPearce commented on #1
It's nearly ready, I will make a pull request tomorrow.

[2018-09-26 14:52] StevenJNPearce commented on #1
@Graeme-Code I have this done for the user facing transactions(Add poll and vote). Is it required for the transactions in the Admin view?

[2018-09-27 04:35] StevenJNPearce commented on #1
@Graeme-Code After finishing this I opened Metamask to make a transaction... and noticed they have launched support for the Ledger today! Which is great, but it does pretty much make this redundant.

[2018-10-23 13:10] Graeme-Code opened #5 "Connect Wallet Flow"
Business Rules:

If a web3 provider is dedicated, the App should skip step 5 and if applicable trigger EIP 1102, if EIP1102 is not applicable to proceed to step 6.

If no web3 provider is detected, then Step 5 should be displayed to the user.

If a user taps on "Connect with Status" on Step 5, The button should link the user to:  get.status.im/browse/www.vote.status.im

If a user taps on "Connect

[2018-10-25 10:02] Graeme-Code opened #6 "Link to Status Social Channels"
User Story:
As a user,
If I feel I need help when I receive 0 voting credits or 0 ETH, I can contact a Status representative,
So that I can ask someone for help.

As a user,
If I can't connect to another wallet, I can ask for help.
So that I can ask someone why and how to connect a wallet.

Details:
If the user connects to a wallet that didn't have SNT in it at the time of poll creation, the user

[2018-10-25 10:17] Graeme-Code opened #7 "How Voting Works Text aligned to symbol"
When I view the "How Voting Works" page on mobile devices the text should not wrap to the edge of text container but stay in line with the symbol.

![voting dapp experience 3](https://user-images.githubusercontent.com/7915365/47493585-87f41c80-d847-11e8-9d88-a25922382b30.jpg)

[2018-10-25 10:23] Graeme-Code opened #8 "Voting Credits/SNT/ETH count should be inline with label"
On the voting credits page, the voting credits, SNT and ETH count should be in line with the label. Current the counter is in line with the text in line with the ! symbol.

![voting dapp experience 4](https://user-images.githubusercontent.com/7915365/47493875-444de280-d848-11e8-81e2-df80a5edb6c0.jpg)

[2018-10-25 10:31] Graeme-Code opened #9 "Add button formatting to "add votes" on "review votes" page"
Currently the "Add votes" button is full caps and it's colour does not communicate that the link is tappable. The Link should be blue and lower case as per design.

![voting dapp experience 5](https://user-images.githubusercontent.com/7915365/47494332-50866f80-d849-11e8-8089-affc9765827c.jpg)

[2018-10-25 10:43] Graeme-Code opened #10 "Populate Voters field on results page"
As a user,
I'd like to know the number of voters who contributed to a ballot,
So that I may get a sense of if it was one person using all their votes or many people using little amounts.

Technical Details:
The poll manager contract will need to be updated with a voters increment in the vote function. This may increase GAS costs.

![voting dapp experience 6](https://user-images.githubusercontent.c

[2018-10-25 10:53] Graeme-Code opened #11 "New copy for "Connect another wallet" instructions"
As a user,
if no web3 provider is detected or I have zero SNT, ETH. I will need to know how to connect another wallet to the voting dapp,
So that I may vote.

Details:

The buttons for copying the link or sending the link have been removed. Viewed not to be required due to the complexity it might cause as well as the dev time to build it. Instead the vote will be linked to an DNS name vote.status.

[2018-10-25 11:08] Graeme-Code opened #12 "Randomize Ballots in UI (WIP)"
As a user,
when arriving at the vote page,
the order of the ballots will be different to a user who visits the dapp after me.

Details:
Randomizing the order of votes becomes important when the list of ballots grows in length to prevent order bais.

https://www.surveymonkey.com/curiosity/eliminate-order-bias-to-improve-your-survey-responses/

[2018-10-25 11:14] Graeme-Code opened #13 "Chevron on results is not tappable"
Currently, on transaction pending and results page the user needs to tap on the voting results in order to display the ballot information.

The desired behavior is that the user could tap on the results bar or the chevron to display or hide the voting information.

<img width="405" alt="screen shot 2018-10-25 at 11 38 46" src="https://user-images.githubusercontent.com/7915365/47496698-89c1de00-d84

[2018-10-25 11:21] Graeme-Code opened #14 "Additional information on "how voting works""
As a user,
If I want more information about how voting works, I should be able to tap on of the information containers on "how voting works" to receive a pop up with more information.

Flow:

![voting dapp experience 7](https://user-images.githubusercontent.com/7915365/47496967-6b101700-d850-11e8-88c2-e5ae6f432ad7.jpg)

Copy: TBA.

[2018-10-25 11:33] Graeme-Code opened #15 "Dynamic Voting Sliders (WIP)"
As a user,
If I do not have enough voting credits for an additional vote on a poll, the voting dapp should take voting credits from ballots with existing voting credits in an equal manner,
So that as a voter I need to only adjust the votes to a proportion that agrees with my choice.

Details:
For example, if I have a poll with 3 ballots and as a user I have 100 voting credits. I assign 4 voting cr

[2018-10-26 14:51] Graeme-Code opened #16 "Time of Poll Creation"
As I user,
I want to know when the poll was created,
So I can confirm if I had SNT in my account will produce voting credits.

Technical Information:
To do this we would need a const that takes the timestamp on the block number of when the poll was created.

This const will need to be placed at several places in the app.

[2018-10-27 08:50] richard-ramos commented on #13
Fix pushed to `new-ui` branch

[2018-10-27 08:53] Graeme-Code commented on #14
After discussion, believe it is best to just focus on detail on how voting works, not why we doing this.

[2018-10-27 09:04] richard-ramos commented on #7
Fix pushed to `new-ui` branch

[2018-10-27 09:34] richard-ramos commented on #8
Fixed

[2018-10-27 09:57] richard-ramos commented on #16
Info is available now inside the poll info, we just need to define where in the UI will the timestamp appear

[2018-10-27 10:14] Graeme-Code commented on #16
Sweet, this has been defined on Figma, give me a shout and I'll go through
it with you.

On Sat, Oct 27, 2018 at 10:57 AM Richard Ramos <notifications@github.com>
wrote:

--
I respond faster on Status, use my contact code below to add me:
0x043d3e8477d431c44cdb12f69375726ed3fa83b4409a2848fa8f625c9394f6214ad473cb5314c5c50cb8cc3e4f4ba870afb6364c730a5664f4ad2c523e66ccc431

[2018-10-27 13:07] richard-ramos commented on #10
Pushed fix on `new-ui` branch.

[2018-10-27 14:54] Graeme-Code commented on #5
Currently the "if no web3" flow is not possible because the ipfs hash that stores the description details is stored in the poll manager smart contract. There we need to change thing up.

Flow:

If no web3 provider detected then Show the user:
<img width="252" alt="screen shot 2018-10-27 at 15 47 24" src="https://user-images.githubusercontent.com/7915365/47605531-ac92f480-d9ff-11e8-816f-2a04c4bc95e

[2018-10-27 15:11] #13 closed

[2018-10-27 15:12] #7 closed

[2018-10-27 15:12] #9 closed

[2018-10-27 15:15] Graeme-Code commented on #6
We have a new design using material UI. Please find below:
<img width="552" alt="screen shot 2018-10-27 at 16 13 34" src="https://user-images.githubusercontent.com/7915365/47605807-4dcf7a00-da03-11e8-94fa-1a20c890a2a1.png">

Link for FAQ:
https://docs.google.com/document/d/1t7zdjVEH5AfPrH4phpiKuPDCQmnOvvbNoZEY2z2cfzg/edit?usp=sharing

[2018-10-27 15:16] Graeme-Code commented on #11
Please update copy as per https://github.com/status-im/snt-voting/issues/5

[2018-10-28 20:15] Graeme-Code commented on #14
Updated Copy:

When a vote is created, the Voting Dapp uses smart contracts to take a snapshot of all the wallets addresses which hold SNT and their SNT balances. These SNT balances are used to inform the number of voting credits a wallet address has. No SNT needs to be staked or committed, all that is required is to connect to the voting app with a wallet that had SNT in it before the “snapshot”

[2018-10-28 20:25] Graeme-Code opened #17 "Desktop "continue" buttons need to be larger."
As a desktop user,
the continue buttons need to be larger and more visible,
So that I know what to tap in order to continue.

Details:
The dapp needs to know when it is been viewed on a desktop. If so it needs to render buttons formatted like the image below.
<img width="563" alt="screen shot 2018-10-28 at 20 23 54" src="https://user-images.githubusercontent.com/7915365/47621409-6b7a0d80-daef-11e8

[2018-10-28 20:31] Graeme-Code opened #18 "No SNT and No ETH on tap direct to "Connect Wallet""
As a user,
If I have no SNT or ETH, If I tap the information container, I should be redirected to "connect another wallet", so that I may receive instruction on how to connect another wallet (hopefully with ETH or SNT).

![voting dapp experience 8](https://user-images.githubusercontent.com/7915365/47621477-71bcb980-daf0-11e8-9bda-381fc9f6cae2.jpg)

[2018-10-28 20:37] Graeme-Code opened #19 ""Review Vote" Button Should Always be tappable"
As a user,
If I am on the vote page, I should be able to tap the "review vote" button, even if I have not changed a vote,
So that I may go back from review, take a look and then tap "review vote".

[2018-10-28 20:41] Graeme-Code opened #20 "Copy change: "connect your wallet" should say "next""
Because the flow changed, if a web 3 connection is detected, the user goes straight from "how voting works" to "voting credits".

<img width="378" alt="screen shot 2018-10-28 at 20 40 10" src="https://user-images.githubusercontent.com/7915365/47621567-b8f77a00-daf1-11e8-8d35-75232e41d39a.png">
Please change "connect your wallet" to "next".

[2018-10-28 20:45] Graeme-Code opened #21 "Add a loading animation to "transaction in process" icon."
As a user,
I want an indicator to visually show me my transaction is been processed,
So that I wait on the page for my transaction to be completed.

<img width="364" alt="screen shot 2018-10-28 at 20 44 58" src="https://user-images.githubusercontent.com/7915365/47621616-5fdc1600-daf2-11e8-8b43-3cf2963f46e7.png">

[2018-10-28 20:49] Graeme-Code commented on #21
Asked Euge to create a GIF.

[2018-10-28 20:59] Graeme-Code opened #22 "Long title go past chevon on mobile devices"
As I user,
I don' t want to see the title go past the chevon,
So that the chevon is clearly tappable.

As I user,
If I expand the results, I should see the title text which was cut off,
So that I can investigate the complete title.

Illustration of issue
![unnamed](https://user-images.githubusercontent.com/7915365/47621757-5489ea00-daf4-11e8-8f56-36cba2dfd18e.jpg)

Design required

[2018-10-28 21:04] Graeme-Code opened #23 "Footer covers "get started" button"
On Android devices, the footer covers the "get started" button. Please unpin the footer on the landing page so that an android user may scroll down to see the get started button.

[2018-10-29 06:56] richard-ramos commented on #20
Fix pushed to `new-ui` branch.
New URL: https://ipfs.infura.io/ipfs/QmP2BKTQFrkzDsWC32KVXmPVGe7TxSLmP1jg4nMmZisvs9/

[2018-10-29 06:56] richard-ramos commented on #23
Fix pushed to `new-ui` branch.
New URL: https://ipfs.infura.io/ipfs/QmP2BKTQFrkzDsWC32KVXmPVGe7TxSLmP1jg4nMmZisvs9/

[2018-10-29 11:10] Graeme-Code opened #24 "Add copy to Transaction failed screen"
Please add copy to transaction failed screen as per design below.
<img width="406" alt="screen shot 2018-10-29 at 12 09 22" src="https://user-images.githubusercontent.com/7915365/47646252-3d3a1380-db6b-11e8-9d73-855fd45bf1dd.png">

[2018-10-29 11:47] EugeOrtiz commented on #21
Here is the code [https://codepen.io/anon/pen/YJMVvN](https://codepen.io/anon/pen/YJMVvN )

[2018-10-29 12:04] richard-ramos commented on #12
Code already implemented. But commented due to this being a WIP

[2018-10-29 12:05] richard-ramos commented on #19
Fix pushed to `new-ui` branch

[2018-10-29 12:34] EugeOrtiz commented on #22
See designs [here](https://www.figma.com/file/L1qhHMiZr5dTVdDxrjsbxHYp/Voting-Dapp?node-id=306%3A0) (Figma).

![congrats -_ list 2 lines](https://user-images.githubusercontent.com/37297779/47650026-446b1c80-db7f-11e8-850f-86bd68022fdb.png)

[2018-10-29 13:46] EugeOrtiz opened #25 "CTA's are too small"
## Description
Fixed CTAs are not noticeable enough since the fonts are too small:

![img_7520](https://user-images.githubusercontent.com/37297779/49017988-ed01a180-f168-11e8-9860-3ae55c345b8b.PNG)

## Expected results
CTA's font size should be Regular / 15px / line-height: 22px;
![step2 -_ options](https://user-images.githubusercontent.com/37297779/49018076-3651f100-f169-11e8-8573-7e23ee8ee1a7.pn

[2018-10-29 13:55] EugeOrtiz opened #26 "Add "see results" to home page if the user just wants to check the poll"

[2018-10-29 14:35] EugeOrtiz opened #27 "Apply original design"
Current implementation was made using Material Design, let's implement the original design so the app is consistent with other Dapps.

[Designs on Figma](https://www.figma.com/file/L1qhHMiZr5dTVdDxrjsbxHYp/Voting-Dapp?node-id=306%3A0)

[2018-10-29 14:44] EugeOrtiz opened #28 "Create responsive design for mobile vs desktop"
(For later)
We need to implement responsive. Current implementation enlarges the elements from mobile to desktop. This presents a couple of issues:
- Mobile design not intended for desktop (everything is stretched)
- Poor UX since we cannot recognize yet if the user is on mobile/desktop. By identifying the user's device, we can improve the experience. E.g. Focus the experience on MM or Ledger if t

[2018-10-29 17:03] EugeOrtiz commented on #21
[Rounded version](https://codepen.io/anon/pen/MPRqyp) (raw code)

[2018-10-30 07:54] asemiankevich opened #29 "Permission to the dapp is not asked when Opt In web3 toggle is enabled"
Expected:

![image](https://user-images.githubusercontent.com/28752642/47703655-02e77980-dc32-11e8-84a0-76c73c259619.png)

Actual: no permission window is shown when Web3 Opt In toggle is enabled

Steps:
- open status
- switch to ropsten
- profile -> advanced -> dev mode -> web3 Opt In -> On
- open https://ipfs.infura.io/ipfs/QmXj4bGUudifqw24EFeXXYEesEdvunj9pxG89pcmUNgpBw/#/ in status browser

[2018-10-30 08:05] asemiankevich opened #30 "Status is not detected automatically in Voting dapp when Web3 Opt In is enabled"
Actual:
![image](https://user-images.githubusercontent.com/28752642/47703931-ed268400-dc32-11e8-9044-53cd6fccff3d.png)

When i tap `CONNECT WITH STATUS` it redirects me to the link `Open in status`.

Expected: Status is  detected automatically so I dont need to do anything else to proceed.

@richard-ramos @Graeme-Code

[2018-10-30 08:30] lukaszfryc commented on #30
@richard-ramos I have the same when **web3 is disabled** and I go back to previous page. E.g. I'm on  "How it works" and go back to first page.

[2018-10-30 08:35] churik opened #31 "No prompt when you are on wrong network"
When you are on Mainnet, but DApp is running only on Ropsten network, no readable error for user is shown

**Steps:**
- change your MetaMask or Status to MainNet
- go to the one of test contract, i.e. `https://ipfs.infura.io/ipfs/QmXj4bGUudifqw24EFeXXYEesEdvunj9pxG89pcmUNgpBw/`

**Expected result:**
DApp can prompt user to switch network
**Actual result:**
Error in console:
[code]

[2018-10-30 08:35] asemiankevich commented on #28
also we have this
![image](https://user-images.githubusercontent.com/28752642/47705566-ed754e00-dc37-11e8-9252-133305c96454.png)

[2018-10-30 09:09] churik opened #32 "No error is shown when you are in the middle of the poll and it is expired"
**Steps:**
- create a poll which will finish in 5 mins
- go to the poll
- pass all steps to sign transaction, wait for poll to expire

**Expected result:**
Poll is expired exactly in the expire time, DApp with u

**Actual result:**
I can click on Sign transaction and get error on console:
[code]

[2018-10-30 09:13] asemiankevich opened #33 "Transaction is confirmed is shown when txn is not actually confirmed"
So the issue is the following:

1. user sees the green confirmation screen of the txn but the txn is not confirmed
2. the poll results are not updated (because the txn is not confirmed). It is especially scary when you are the first one completing the poll and see all zeroes
3. link to transaction shows that transaction is not found (shows MAINNET links while on Ropsten)
4. when i tap this ethersc

[2018-10-30 09:29] asemiankevich opened #34 "Need help footer is not shown"
Expected:

![image](https://user-images.githubusercontent.com/28752642/47708616-8065b680-dc3f-11e8-9cb4-60501e04dcda.png)

Actual:

![image](https://user-images.githubusercontent.com/28752642/47708597-76dc4e80-dc3f-11e8-8152-4e8146a3f581.png)

[2018-10-30 09:38] lukaszfryc opened #35 "No error shown when gas limit set too low"
### Description

*Type*: Bug

*Summary*: When gas limit is set to some low number, the transaction is not sent. In this case, the dapp should notify user what happened. Instead, the user is stuck on the sign to confirm screen with the sign button being disabled.

[2018-10-30 10:01] Serhy commented on #35
@lukaszfryc this is an https://github.com/status-im/status-react/issues/5899 issue related to Wallet. We had a pop-up in the past notifying user (maybe with not really obvious explanation) about that.

Not sure if Voting Dapp can detect the transactions sent with < 21000 gas limit, but if it's possible with any hook, (quick fix) @richard-ramos, lets do it.

It's a **low priority** though.

[2018-10-30 10:39] hetvart commented on #28
Screen is being zoomed in while tapping continuously on Add vote (+) button.
iPhone 6s, ios 11

[2018-10-30 10:48] asemiankevich commented on #28
@richard-ramos @Graeme-Code can we fix this tap area on iOS? quite annoying ^

[2018-10-30 10:49] yevh-berdnyk opened #36 "Transaction can be signed more than once without changing votes number"
One transaction can be signed a lot of times when voting in a poll

#### Expected behavior:
Sign transaction view should not be available

#### Actual behavior:
It's possible to proceed and sign a transaction again

#### Steps to reproduce:
- Open a poll
- Vote
- Sign transaction
- Close the browser
- Swipe and delete the browser entity
- Open the poll again
- Without changing number of votes proc

[2018-10-30 11:06] SlizkovaGanna opened #37 "Redirection to the poll from a browser page needs to be updated"
When you are opening a link to the poll from your browser, 'Open in Status' button leads to an invalid URL

**Steps:**
1. Open a link to your poll in browser
2. Select 'Connect using Status' button
3. In a Browse pop-up, select 'Open in Status'

**Expected result:**
You are redirected to your poll's URL

**Actual result:**
For Android: vote.status.im page is stuck loading
For iOS: an outdated page

[2018-10-30 19:52] richard-ramos commented on #28
@asemiankevich , does the browser allows you to scroll down and see the "Get Started" button?

[2018-10-31 06:52] richard-ramos commented on #31
Fix pushed to `new-ui` branch.
https://ipfs.infura.io/ipfs/QmawA3Gy76PsTScBCWaXFP36szLzGzXKRPQFxFsdYgZS3a/#/

[2018-10-31 06:58] richard-ramos commented on #28
I made a change for the initial screen, to reduce the margin between the description and the timer.
I tried on the Chrome Dev Tools, with a responsive size similar to Iphone 5, and it looks better.
https://ipfs.infura.io/ipfs/QmbTWxnah7xQzFtVE2uMTixafty9mpEcXor6c7TW2oM3Pe/#/

[2018-10-31 07:44] #16 closed

[2018-10-31 07:44] #12 closed

[2018-10-31 07:45] #20 closed

[2018-10-31 08:01] Graeme-Code opened #38 "If status browser, if no web3 provider detected, add delay and retry."
User of status who has a slow connection has been experiencing a bug. Essentailly when hitting vote.status.im they encounter a ERROR, Incorrect URL scheme.

After discussion with Dapp team the response for this is redirect combined with status browser not being able to inject web3.

The proposed solution is that if the dapp detects no web3 connection when user is in status browser, to run a delay

[2018-10-31 08:04] Graeme-Code commented on #37
Added this issue to resolve issue :https://github.com/status-im/snt-voting/issues/38

[2018-10-31 08:04] #37 closed

[2018-10-31 08:05] Graeme-Code commented on #38
Linked to issue https://github.com/status-im/snt-voting/issues/37

[2018-10-31 08:09] Graeme-Code commented on #36
Hi @yevh-berdnyk we made a UX decision to allow user to always be able to tap vote button even if they have not changed their votes. This was because users were tapping back from review votes back and then been unable to go forward unless they change votes.

Note that signing multiple transactions will not create multiple votes, each signing of a transaction will update the accounts vote.

I'm clo

[2018-10-31 08:09] #36 closed

[2018-10-31 08:10] Graeme-Code commented on #34
This has yet to be implemented. Issue is https://github.com/status-im/snt-voting/issues/6

[2018-10-31 08:10] #34 closed

[2018-10-31 08:11] Graeme-Code commented on #33
Putting this in progress Q.

[2018-10-31 08:12] Graeme-Code commented on #32
Nice catch, will need a page to tell user this.

[2018-10-31 08:13] #31 closed

[2018-10-31 08:14] Graeme-Code commented on #30
Linked this to note in a project board. Richard is working with Dapp team and Luri from embark to resolve.

[2018-10-31 08:16] Graeme-Code commented on #28
I agree, not sure but can investigate.

[2018-10-31 08:50] #10 closed

[2018-10-31 08:50] #8 closed

[2018-10-31 08:51] #11 closed

[2018-10-31 08:52] #19 closed

[2018-10-31 08:57] #24 closed

[2018-10-31 08:57] #23 closed

[2018-10-31 08:59] Graeme-Code commented on #29
linking to #30

[2018-10-31 09:39] asemiankevich commented on #28
Please do! Maybe @flexsurfer or @jeluard could assist

[2018-10-31 09:42] churik commented on #28
@Graeme-Code basically if user has a lot of SNT (i.e. 10000) it is really hard to vote because of this constant zooming, so I would say it has pretty high-prio in usability on mobile screens.

[2018-10-31 09:51] churik commented on #31
Checked on MetaMask (desktop) and in Status(mobile)

[2018-10-31 19:19] richard-ramos commented on #6
Ropsten:
https://ipfs.infura.io/ipfs/QmWeTyeSsuQCZ9q6e6MY9fVyeepooMf888QqiEQ3P9TLzG/

[2018-10-31 19:20] richard-ramos commented on #21
Ropsten:
https://ipfs.infura.io/ipfs/QmWeTyeSsuQCZ9q6e6MY9fVyeepooMf888QqiEQ3P9TLzG/

[2018-10-31 19:35] richard-ramos commented on #18
Ropsten:
https://ipfs.infura.io/ipfs/QmXSNyi62H4pNuQWR9NMsytGjrjyokVoAUEqXMPhgVfLLA/#/wallet/9

[2018-11-01 10:32] richard-ramos commented on #29
Ropsten:
https://ipfs.infura.io/ipfs/Qme2JNFgGLZrg5CfjkiAM1GeHD2dzKKc1KkASqkhnD9H5C

[2018-11-01 10:32] richard-ramos commented on #30
Ropsten:
https://ipfs.infura.io/ipfs/Qme2JNFgGLZrg5CfjkiAM1GeHD2dzKKc1KkASqkhnD9H5C

[2018-11-01 10:34] richard-ramos commented on #30
So, a note here
The latest fix added to Embark adds support for EIP1102, however, it has the inconvenient that it will ask for permission to access to the wallet in the first screen rather where it should be according to the proposed design..

This issue will need to be revisited in the future.

[2018-11-01 11:33] #30 closed

[2018-11-01 11:33] #29 closed

[2018-11-01 11:55] churik opened #39 ""Chat with us" links on Status browser doesn't redirect anywhere"
When you are on Mainnet, but DApp is running only on Ropsten network, no readable error for user is shown

**Steps:**
- open https://ipfs.infura.io/ipfs/QmYAVxjtbQBHD3ddgeLzFeGY8PqbThCMypw98w5QQeRxZR/
- pass "Get Started" > How voting Works > Next
- Tap on "Chat with us"

**Expected result:**
links are clickable ("Chat on Status", "Chat on Telegram", "Chat on Riot", "Faqs")
**Actual result:**
Noth

[2018-11-01 15:32] Graeme-Code commented on #38
and issue #30

[2018-11-01 15:35] Graeme-Code commented on #6
After implementing this we found that telegram and riot links break when opened in status. This means we would need to implement logic which is status browser detected, then only link to status chat, else display the other help line options.

[2018-11-06 11:19] Graeme-Code commented on #6
Link for FAQ:
https://github.com/status-im/snt-voting/blob/master/FAQ.md

[2018-11-06 13:01] Graeme-Code commented on #21
confirm this is working. closing.

[2018-11-06 13:01] #21 closed

[2018-11-06 17:21] richard-ramos commented on #22
The behaviour when scrolling the results will be applied as part of #27 #28

[2018-11-07 14:31] asemiankevich commented on #22
looks nice on Ropsten
![image](https://user-images.githubusercontent.com/28752642/48137343-e2af5e80-e2b2-11e8-99e5-cbbe7cff6dc0.png)

[2018-11-07 14:40] #22 closed

[2018-11-07 14:50] #1 closed

[2018-11-07 15:40] asemiankevich commented on #33
@richard-ramos awesome work!! Looks very user-friendly now! Just wanna ask - did we intentionally removed this `view on etherscan` link?

[2018-11-07 15:48] richard-ramos commented on #33
@asemiankevich Fixed the etherscan link issue!
https://ipfs.infura.io/ipfs/QmPybbteCPNPwTQ2z6ba4X2Rhpy4zCxbqPBu866FaPQjrp/

[2018-11-07 15:55] asemiankevich commented on #33
@richard-ramos can we make it opening in new window? like it was before. This back navigation is really painful in this case

[2018-11-07 16:08] richard-ramos commented on #33
@asemiankevich
https://ipfs.infura.io/ipfs/QmNnzWGhqA6UUzc2VLNPnWFGQafJJTx5qxDwP8bxRhTRrP/#/

[2018-11-07 16:17] richard-ramos commented on #39
Changed this dialog according to latest comments on #6

[2018-11-07 16:22] asemiankevich commented on #33
well this link still opens in same window ( app does not ask me how to open it anyway). besides that it is much better than it was. Lets close it and see how it goes

[2018-11-07 16:22] #33 closed

[2018-11-07 16:44] richard-ramos commented on #33
yeah. Seems like the Status app does not handle multiple windows/tabs. Would be a cool feature to have!

[2018-11-07 16:52] Serhy commented on #38
Has been tested on 2G + poor VPN enabled on Android 7 and iOS. Page load delayed for ~20-25 seconds but eventually content appeared in Status browser fine.

[2018-11-07 17:21] bgits commented on #38
Just seeing this. Ideally this should be a general component as it's not only a problem that will be experienced in the voting dapp.

[2018-11-07 22:32] #38 closed

[2018-11-08 07:31] asemiankevich commented on #6
@Graeme-Code @richard-ramos please confirm that when i tap on `Chat with us` link this screen should be expected:

![image](https://user-images.githubusercontent.com/28752642/48183866-41bbb480-e341-11e8-93aa-e8928f2267cb.png)

asking because it does not match designs, so `Need help` pop up is not shown, `FAQ` section is opened immediately instead

[2018-11-08 13:20] Graeme-Code commented on #6
Yup that's incorrect. Behaviour should be:

@richard-ramos apologies if this was not clear.

[2018-11-08 18:50] richard-ramos commented on #35
Ropsten:
https://ipfs.infura.io/ipfs/QmQBJBKNJAQhNrwkBMKsd4VbZpHTEgn5KdAD2kNfjUxE7N/#/

@lukaszfryc Sign button doesn't stay disabled now in this scenario.
@Serhy Seems like no transaction nor event is generated if the user sets a low gas limit, so I'm not able to capture this event.
@churik Latest version, with Metamask it shows the error direclty on Metamask, and no redirect happens.
![screensho

[2018-11-12 14:40] Serhy commented on #32
Tested with https://ipfs.infura.io/ipfs/QmQBJBKNJAQhNrwkBMKsd4VbZpHTEgn5KdAD2kNfjUxE7N/#/results/16 and can confirm it looks good in within Status browser on iOS and Android and MetaMask!
Whenever user taps 'Sign to Confirm' while poll is over - the 'Poll is expired' message in pop-up appears followed by navigation to `Poll closed 'View results' ` page upon tap 'OK'.

Thanks, @richard-ramos !

[2018-11-12 14:41] #32 closed

[2018-11-14 10:34] Graeme-Code commented on #35
Hey @lukaszfryc and @Serhy for your work on this issue. I don't expect people to go into advanced options to play around with GAS limits (unless they have a low amount of ETH and wanna stretch their usage).

going back and forward is not great, but it does provide the user with a path to success if they encounter the issue.

It's ok closing the issue, but would like to know why the behavior differ

[2018-11-14 10:37] rachelhamlin opened #40 "Register ENS name for DApp"
Can we register the voting DApp to `vote.statusnet.eth`, so as to get away from the Infura redirect?

Doing so will allow us to display `vote.statusnet.eth` when the web3 permission is requested, rather than `ipfs.infura.io would like...`

Suggesting `vote.statusnet.eth` to parallel `names.statusnet.eth` (which would really be better to host at `names.stateofus.eth` but no matter).

[2018-11-14 11:13] Graeme-Code commented on #39
I'm closing this as its a duplication of #6

[2018-11-14 11:13] #39 closed

[2018-11-14 11:16] Graeme-Code commented on #17
The mobile version of the voting dapp, as of today is responsive on desktop, but it is optimized for mobile.

I think the next step for this is to collate tickets regarding desktop look and feel into one ticket with multiple user stories and have that work put up to bounties.

[2018-11-14 11:16] Graeme-Code commented on #17
PS, would like to do this after the open/closed/create poll navigation is complete.

[2018-11-14 11:22] Graeme-Code commented on #40
Hi,

I'm all for ENS names, my only concern is how users will find the voting dapp on desktop devices.

Is it possible to have both an ENS and DNS name? I'm thinking of keeping vote.status.im which will be hosted on status website but adding vote.stateofus.eth under the dapp category.

[2018-11-14 12:35] rachelhamlin commented on #40
Should be! vote.status.im can redirect, and vote.statusnet.eth can point to the IPFS hash?

[2018-11-14 12:55] richard-ramos commented on #40
@rachelhamlin yup.

[2018-11-16 11:06] Serhy commented on #35
If i'm correct, in Metamask validation error for inappropriate transaction values (Gas limit) is made in the transaction separate window, so Vote DApp page get notified only after transaction sent. While in Status browser, for this case, - we send transaction, appear on VoteDapp page, and only then realise that there is a gas limit which is < than 21000 (when "intrinsic gas too low" pop-up appears

[2018-11-16 11:06] #35 closed

[2018-11-22 18:10] Graeme-Code opened #41 "Landing Page with open, closed and create option"
User with ETH and SNT.

As a user visiting the voting dapp,
If my wallet is not connected I should see instructions to connect a wallet,
So that I may use the dapp.

As a user on the landing page,
I should be able to view the most recent open and closed poll.

<img width="150" alt="landing page" src="https://user-images.githubusercontent.com/7915365/48917744-58552600-ee80-11e8-8760-920ba6472478.pn

[2018-11-22 18:12] Graeme-Code opened #42 "Create poll flow"
1 - Title

As a user with SNT and ETH,
When I tap the create poll button, I will be directed to the create poll sign up page.
So that I may create a poll.

As a user with SNT and ETH,
When I create a title for the poll, I will see the amount of characters available and require at least one character to progress to the next page (poll description) with a max of 70 characters,
So that the poll has a

[2018-11-26 13:59] EugeOrtiz opened #43 "Fonts are italic on iOS"
## Description
Fonts are shown in _italic_ when opening the dapp on status browser in iOS.

## Current results
![img_7519](https://user-images.githubusercontent.com/37297779/49018223-a06a9600-f169-11e8-9e6a-d571634a9123.PNG)

## Expected results
Fonts are generally not italic. [Designs on Figma](https://www.figma.com/file/L1qhHMiZr5dTVdDxrjsbxHYp/Voting-Dapp?node-id=314%3A18).
Example:
![step2 -_

[2018-12-03 13:48] richard-ramos commented on #41
Code available in:
https://github.com/status-im/snt-voting/tree/landing-page

Create-Button is handled as part of #42

[2018-12-03 13:58] richard-ramos commented on #41
Ropsten demo:
https://ipfs.infura.io/ipfs/QmaGSZUHUX2LWFNyk96pkmGYMkRkiTL3R7zoa33moktB1Z/#/

[2018-12-03 14:14] Graeme-Code commented on #41
@richard-ramos Modification requested. Could the closed polls show the date they closed as per screenshot?
<img width="338" alt="screen shot 2018-12-03 at 14 11 00" src="https://user-images.githubusercontent.com/7915365/49378873-a7fbe300-f705-11e8-921a-9a282452ac71.png">

[2018-12-03 14:37] Graeme-Code commented on #41
Whooo!

[2018-12-05 01:18] richard-ramos commented on #42
Progress Update:
Ropsten - https://ipfs.infura.io/ipfs/QmVkmZ465JVGpBtjuT5Gd5iaUvQgMxBfzXFyEqTQcPmgqS/#/

Added some comments on Figma

[2018-12-05 12:10] richard-ramos opened #44 "SNT symbol and decimals are hardcoded in the DApp"
The source code for the DApp has many instances of the "SNT" symbol and the 18 decimals of SNT being hardcoded. In order to make the DApp reusable, this needs to be changed to obtain this info directly from a token address

[2018-12-05 13:45] richard-ramos commented on #42
Fixed in:

https://ipfs.infura.io/ipfs/QmaLCPgS3wCEAWqCyCDbie4KVGCixQXZ3gwSooMkf7agCq/#/

[2018-12-05 14:05] richard-ramos commented on #42
This version adds a loading indicator for the IPFS upload of the poll details during poll creation
https://ipfs.infura.io/ipfs/QmPwARXpfaFHLzzG6uahr519uHS95ouDnKys9CVNgwafbS/#/

[2018-12-05 18:30] richard-ramos commented on #42
@Graeme-Code
This version should have the issue trying to create polls fixed, https://ipfs.infura.io/ipfs/QmWQLNppuAJrCexKDf6RcNerCxCwa8UXbT7pqEMebSNsod/#/

[2018-12-05 18:46] richard-ramos commented on #44
SNT symbol was removed from the code.
(pending using the decimals from the token)

[2018-12-05 19:01] Graeme-Code commented on #42
Perfect, I got the EIP 1102 notice on tapping the create poll button. Any
chance you have SST? I'm skint at the mo.

On Wed, Dec 5, 2018 at 6:30 PM Richard Ramos <notifications@github.com>
wrote:

--
I respond faster on Status, use my contact code below to add me:
https://get.status.im/user/0x040c839802425169b0dd575059a2897a76f14a0cf325521b8f4a439f679560c508e7dc74b5e06432e2c70cec2d745d06948d9a77fe

[2018-12-05 19:54] EugeOrtiz opened #48 "Fix UI/UX bugs"
This is a list of UI bugs to fix:

<img width="435" alt="captura de pantalla 2018-12-05 a la s 4 50 55 p m" src="https://user-images.githubusercontent.com/37297779/49540162-1da2b300-f8ae-11e8-9736-fd179a58c745.png">

**General screen**
- [ ] General left and right margins should be 24px (now is 20px)
- [ ] Right margin for the "create poll" icon should be 24px (it should be right aligned with the

[2018-12-05 20:05] EugeOrtiz opened #49 "Error screen is shown for a moment before starting the flow"
Type: Bug

## Problem
When tapping on "Create poll" icon, the SNT/ETH=0 error screen is shown for a moment. After that, the first step of the flow is shown.

![](https://im.ezgif.com/tmp/ezgif-1-6c48a2cb89f2.gif)

## Expected results
If there are no issues with ETH/SNT, the user shouldn't see the error screen.

## Steps to reproduce
1. Enter[ Org landing page](https://ipfs.io/ipfs/QmVkmZ465JVGpBtj

[2018-12-05 21:03] EugeOrtiz opened #50 "Fix UI/UX bugs"
This is a list of UI/UX bugs to fix:

## Across steps
**General**
- [ ] General left & right margins should be 24px and all elements should be aligned to this
- [ ] Step title should be font-size: 22p; line-height: 28px;
- [x] Font should be [Inter UI](https://rsms.me/inter/)

**Input fields**
- [ ] Input field right margin should be 24px (now is too closed to the right border)
- [ ] Input field s

[2018-12-05 21:14] EugeOrtiz opened #51 "Apply an integrated calendar for selecting dates"
## Problem
In the date selection step (step 4 of the flow) we are using a material design date selection control. For a better experience, we should apply a calendar that is more integrated with the flow and UI.

## Actual implementation
<img width="257" alt="captura de pantalla 2018-12-05 a la s 6 12 09 p m" src="https://user-images.githubusercontent.com/37297779/49544353-66139e00-f8b9-11e8-82b3-

[2018-12-05 21:25] EugeOrtiz opened #52 "Options in list are draggable but they move when trying to scroll up/down"
## Problem
In step 3 (Add options) options are draggable (to reorder them) but when I want to scroll, the drag feature is activated (since I'm pressing on the screen to scroll). This makes scroll -to see the options- hard to use.

Example (trying to scroll up/down):

![](https://im5.ezgif.com/tmp/ezgif-5-51bdbdb37496.gif)

## Expected results
Draggable feature not interfering with scroll (enable d

[2018-12-06 13:01] richard-ramos commented on #52
Indeed. The issue happens in mobile as well.
I'll attempt to disable the page scroll while an item is being dragged

[2018-12-06 13:11] richard-ramos commented on #49
@EugeOrtiz
Please verify on this version:
https://ipfs.infura.io/ipfs/QmQfUEi9GfVrWrZh11vGB4pNmjzLMibc7Un3X1trfyfmu3/#/

[2018-12-06 14:07] #49 closed

[2018-12-06 14:18] richard-ramos commented on #50
@EugeOrtiz,  with this option:

Wouldnt it be possible that the user wants to the options sorted in a specific way, and having the latest option being added on top, will cause confusion to them? specially when they see the poll created and the order is inverse. (first item created is first item in the list)

[2018-12-07 15:52] Graeme-Code commented on #50
Bounty size: L

[2018-12-10 10:31] Graeme-Code commented on #52
I can confirm this problem is solved on mobile. Closing issue.

[2018-12-10 10:31] #52 closed

[2018-12-10 10:32] #44 closed

[2018-12-10 10:33] Graeme-Code commented on #42
I've been successful in testing this. Gonna move it to test column.

[2018-12-10 10:36] #41 closed

[2018-12-10 10:38] #5 closed

[2018-12-11 12:50] richard-ramos commented on #14
https://ipfs.infura.io/ipfs/Qma9SPwEHTKjtFsYHKMMmkSw4BPv3F4rj3VXWgZaS7uyyh/#/
This is the latest version on Ropsten.

[2018-12-11 13:02] asemiankevich commented on #14
looks good but it is not clear that i have to tap the items to see the hint. Maybe we can add something that will tell user he should tap the items for more details? @richard-ramos

![image](https://user-images.githubusercontent.com/28752642/49802425-ed4f8e80-fd5d-11e8-8bac-1613411d6a01.png)

[2018-12-11 13:02] Graeme-Code commented on #14
Approved! Ship to mainnet

On Tue, Dec 11, 2018 at 12:50 PM Richard Ramos <notifications@github.com>
wrote:

--
I respond faster on Status, use my contact code below to add me:
https://get.status.im/user/0x040c839802425169b0dd575059a2897a76f14a0cf325521b8f4a439f679560c508e7dc74b5e06432e2c70cec2d745d06948d9a77fec8a6572c1938c063141499da

[2018-12-11 13:07] richard-ramos commented on #14
@asemiankevich
good idea. In the case of browsers on a laptop/pc it's easy because I can change the cursor to a hand pointer, but in mobile, this does not apply. I wonder if in the case of mobile, we can add a icon like this one: https://fontawesome.com/icons/info-circle?style=solid in a corner, that once it's clicked, it displays the popup dialog.  What do you think?

[2018-12-11 13:08] asemiankevich commented on #14
@richard-ramos sure, sounds awesome!

[2018-12-12 17:11] richard-ramos commented on #14
https://ipfs.infura.io/ipfs/Qmcn9cwvFqoCXzEWruVtdJ5xG3zTShSKTVtf4AsazLnVN8/#/
Instead of using the info icon, I added a "Learn more" icon for it to be more consistent with the Options detail page.

[2018-12-20 23:39] richard-ramos commented on #48
Bounty size: L

[2018-12-22 01:41] StatusSceptre commented on #50
@pumpkinwok you’ve been approved to start work

[2018-12-22 07:41] StatusSceptre commented on #51
Cool! Approved you for this one @anshumanv

[2018-12-22 07:42] anshumanv commented on #51
Awesome, thanks!

Will be reaching out for the feedback or in case I'm stuck somewhere. ^^

[2018-12-22 07:47] pablanopete commented on #28
@richard-ramos maybe we bounty this one as well?

[2018-12-22 08:45] anshumanv commented on #51
![image](https://user-images.githubusercontent.com/21009455/50372321-ac276c00-05f2-11e9-9055-1c9af8202dab.png)

Hey @StatusSceptre tried running the dev setup and stuck here, did I miss anything?

[2018-12-22 12:21] JeremiGendron commented on #51
@anshumanv you're not supposed to follow the README, just `npm install` then do `embark simulator` and `embark run`.

[2018-12-22 14:01] JeremiGendron commented on #51
![image](https://user-images.githubusercontent.com/23587429/50375211-f34c3780-05c7-11e9-953e-de6d97bb0f45.png)
Colors are temporary, I also have a lot of the logic down for a custom date component. How should the breakpoints be setup?

[2018-12-22 15:07] JeremiGendron commented on #51
![image](https://user-images.githubusercontent.com/23587429/50375816-6d34ee80-05d1-11e9-9b52-8a98efbbcdd9.png)

[2018-12-22 15:13] anshumanv commented on #51
@JeremiGendron can you please work on bounties you're approved on?

I've seen you do this on several people's work and this is really not appreciated. 😟

[2018-12-22 15:15] JeremiGendron commented on #51
@anshumanv I'm trying to learn. I'll stop posting here. My apologies for causing unwanted stress. I will stop this practice.

[2018-12-22 15:34] anshumanv commented on #51
Yeah most likely seems to be the case, I'm traveling for the day and thus will be able to jump into this in some time! 😄

[2018-12-22 18:30] StatusSceptre commented on #51
@JeremiGendron Thanks for helping @anshumanv; we'd be glad to have your help on some other bounties in this repo; or in general!

Let us know if you bump into any other struggles @anshumanv

[2018-12-28 14:50] Valentine-Mario commented on #48
Hello, I'm working on the issue and would submit the complete project as soon as possible

[2018-12-28 15:01] Valentine-Mario commented on #48
Do I have to create a sample from scratch following the figma designs? or is there any already existing work I could clone?

[2018-12-29 04:20] StatusSceptre commented on #51
@anshumanv thanks for the submission, someone will be able to review after the holidays!

[2018-12-29 12:05] PumpkingWok commented on #50
Hi there,
Yes i'm still working on it, thanks.

[2018-12-30 05:43] StatusSceptre commented on #48
@Valentine-Mario I believe from the already working project from the readme. Let us  know if you need anymore context beyond that and i can ping the relative ones that were working on this project.

[2018-12-30 05:45] StatusSceptre commented on #51
@richard-ramos when you have a moment can you review the approach taken above and see if that's the direction we want to go?

[2019-01-02 16:08] richard-ramos commented on #51
@anshumanv
The calendar needs to have the following behaviour / restrictions:

0. Infinite scroll
1. It cannot have dates in the past (the smart contract will not let you create a poll)
2. The end time must be greater than the start time.
3. An user should be able to specify the time (in hours:minutes) like in the figma designs.

I tested this WiP PR and while it would make things easier from a de

[2019-01-02 16:33] JeremiGendron commented on #51
@anshumanv I'm happy to work on this a little and push to your fork

[2019-01-02 16:53] anshumanv commented on #51
Thanks for reviewing @richard-ramos 😄
Understood your feedback, will be making changes soon, thanks for helping @JeremiGendron! 👍

[2019-01-03 17:47] PumpkingWok commented on #50
Hi there,
Yes i'm still working on it, i'm going to open a PR in a few days.
Thanks.

[2019-01-04 13:43] Valentine-Mario commented on #48
I am still on the project

[2019-01-06 18:07] StatusSceptre commented on #50
@PumpkingWok I've snoozed warnings for 5 days; please update when you have a WIP!

[2019-01-06 18:34] PumpkingWok commented on #50
Hi there,
@StatusSceptre i'm so sorry for the delay, tomorrow i will open a WIP PR and i finalize it in max 2 days.Thanks in advance.

[2019-01-08 12:10] PumpkingWok commented on #50
Hi @StatusSceptre,
I'm having some issues to test the dapp locally following the repo readme.
Should the UI look like https://ipfs.infura.io/ipfs/Qmd5szquBoyJSEHW53q24UufEoHjCsZeKvFubYucvJ4hU7/#/ ?
I'm working on `new-ui` branch, when `embark run` ends i get the homepage (`TitleScreen`) but it is empty, i think that the issue is correlated to `polls`, it is empty and the code does not render the p

[2019-01-08 12:20] richard-ramos commented on #50
Hi @PumpkingWok
The new-ui branch was merged with the master branch a while ago, but I forgot to update the README.md . Sorry about that.

All changes must be done against the `master` branch.  Input fields refer to the fields in the new "Create Poll" flow.

[2019-01-08 17:41] PumpkingWok commented on #50
Hi @richard-ramos,
I have just opened a WIP PR with only changes regard input fields, just to check if it is ok.
I'm going to commit the remain tasks, thanks.

[2019-01-10 16:34] StatusSceptre commented on #50
Thank you @pixelantdesign your contribution will go down in history. 👯‍♂️

[2019-01-10 16:38] anshumanv commented on #48
@Valentine-Mario are you working on this? I can jump in if you're facing any difficulties. :)

[2019-01-14 13:41] anshumanv commented on #48
@StatusSceptre please let me know if I can work on this due to inactivity, already working on an issue and it's almost done https://github.com/status-im/snt-voting/pull/54 (Doing some last changer)

Will be able to wrap this up soon. :)

[2019-01-14 16:44] StatusSceptre commented on #48
Yes please @anshumanv

[2019-01-14 18:06] #50 closed

[2019-01-14 18:12] richard-ramos commented on #50
@StatusSceptre,
I just reviewed and accepted @PumpkingWok 's PR.

[2019-01-14 18:35] StatusSceptre commented on #50
Great work @PumpkingWok!

[2019-01-14 19:00] pablanopete commented on #48
You've been approved to start working @anshumanv

[2019-01-15 13:32] anshumanv commented on #48
Thanks, @StatusSceptre @pablanopete 🎉
WIP up at #57 😄

[2019-01-16 20:18] #51 closed

[2019-01-16 20:23] richard-ramos commented on #15
Closing due to inactivity. We can reopen later all issues marked with "ideas" label.

[2019-01-16 20:23] #15 closed

[2019-01-16 20:24] richard-ramos commented on #42
Poll creation flow was tested successfully

[2019-01-16 20:24] #42 closed

[2019-01-16 21:37] JeremiGendron commented on #51
Has this been completed?

[2019-01-17 02:58] StatusSceptre commented on #51
Great work @anshumanv yes @jeremigendron it's completed at #54

[2019-01-17 15:18] #48 closed

[2019-01-17 15:33] anshumanv opened #58 "Setup prettier and precommit hooks to lint all files before each commit and have consistent coding style"
All files are linted improperly and have weird spacing/tabs at places.

This will make sure all files are linted properly as per the linting rules before each commit and so we have consistent coding style.

I'll be able to do this 😄
Planning to use prettier, husky and lint-staged to get this done.

Potential bounty @richard-ramos @StatusSceptre ? 🤔

[2019-01-17 15:34] anshumanv opened #59 "Remove horizontal scroll on several pages"
While working on past issues I saw that the pages are horizontally scrollable which shouldn't be the case so I think it's better to get rid of them and have the viewport size as per the screen size.

@richard-ramos what do you think?

[2019-01-17 15:37] anshumanv commented on #25
Hey @richard-ramos is this fixed yet? If not I'll be able to fix this. 😄

[2019-01-17 16:00] richard-ramos commented on #25
Yes, it seems to have been fixed with one of the css related bounties! :)
![screenshot from 2019-01-17 11-58-15](https://user-images.githubusercontent.com/1106587/51331125-602fe180-1a4f-11e9-8244-ba94a4ad94b5.png)

[2019-01-17 16:01] #25 closed

[2019-01-22 19:56] pablanopete opened #60 "Change string copy"
On the second  page of a new vote after clicking "get started" a string reads

"How voting works"

This string should be changed to

"Next"

to avoid UX confusion. Suggested by @jarradh and other UX research done prior.

[2019-01-23 13:32] anshumanv commented on #58
@richard-ramos @StatusSceptre can we audit this? So I can start working. 😄

[2019-01-24 08:07] andytudhope opened #61 "Change Provider Flow So I Can See Polls With No Wallet Connected"
Really, I want to be able to vote with my Ledger wallet. We used to have a button for this: https://github.com/status-im/snt-voting/pull/4 but now, when I navigate to vote.status.im in my web browser, I just get told to please `Connect to Mainnet`.

I think we should change the request provider flow, and only request it when the user goes into a given, open poll. This way we can show the initial s

[2019-01-24 13:37] anshumanv commented on #61
Hey @richard-ramos needed your input on this,

Just on the deployment, it requires access to metamask account
![image](https://user-images.githubusercontent.com/21009455/51681577-11fc7e80-200b-11e9-933c-fc17e2a48e50.png)

While not in the local instance (needs only when you attempt to create a poll or vote) -
![image](https://user-images.githubusercontent.com/21009455/51681595-23458b00-200b-11e9-9

[2019-01-24 14:16] richard-ramos commented on #61
@anshumanv , this is due to EIP1102 and the configuration for `dappConnection` in `config/contracts.js` for mainnet and development being different.  In development we use Embark's provider which already has access to the account information.
However in testnet and mainnet we first attempt to use injected providers (Metamask or Status), and call `ethereum.enable()` on them

[2019-01-24 14:35] anshumanv commented on #61
@richard-ramos ah okay, I understand.

So what's the concise goal of this issue? Can you please list out points as you did for the past issues, would be great help. 😄

[2019-01-24 14:39] richard-ramos commented on #61
Indeed. That's the right way. And it's coded like this (there's a couple of spots in the code where the voting dapp verifies the type of provider and if it supports EIP1102, it calls `ethereum.enable()`, however, Embark latest version (not 4.0.0, but 3.2.7) implements EIP1102 by calling `ethereum.enable()` at page load, hence the metamask connection dialog you see at the beginning in both Metamask

[2019-01-24 14:44] richard-ramos commented on #61
@anshumanv Not sure yet. I do think there's an issue but it should be related to the current version of embark, which should be solved by upgrading to `4.0.0-beta.0` and adding a property to the contract configuration.

[2019-01-24 14:58] StatusSceptre commented on #61
Seems like there is support with metamask in this case @andytudhope ledger / Trezor is supported and that we may need to wait on a stable embark version before we consider this upgrade (if we even need it?) @richard-ramos ?

[2019-01-24 15:07] richard-ramos commented on #58
We'll probably do a revision in the future to include the same Lint rules and Continuous Integration configuration being used in https://github.com/status-im/status-teller-network

[2019-01-24 15:11] richard-ramos commented on #59
Interesting. It's possible that this is an issue in different devices we haven't seen before. Would you mind sharing some screenshots as well as information of the device you're using?
Thank you, @anshumanv!

[2019-01-24 15:12] anshumanv commented on #58
Sure thing!

Give me a heads up if this needs to be done by contributors. 😄

[2019-01-24 19:35] andytudhope commented on #61
Ahhh @richard-ramos - I remember that now! Yeah @StatusSceptre when it's clearer what exactly the upgrade to Embark involves, then this bounty can be repurposed to

1. Upgrade Embark to the latest version and
2. Change the request provider flow so that it does not require a wallet to simply view polls.

[2019-01-24 20:16] anshumanv commented on #61
@richard-ramos please give me a heads up when I can start working on this. 😄

[2019-01-27 00:05] StatusSceptre commented on #61
Cancelling the bounty until we have an active path forward for this above referenced.

[2019-01-27 00:08] StatusSceptre commented on #58
Yes @anshumanv it will be - @richard-ramos please update in this issue with scope / estimated time for getting a bounty up. All the future updates likely to the Voting DApp will be done by contributors like yourself so please do stick around! :)

[2019-01-27 05:10] anshumanv commented on #59
@richard-ramos please audit so @StatusSceptre can set up a bounty 😄

[2019-01-31 15:50] #60 closed

[2019-02-07 19:10] richard-ramos commented on #58
@anshumanv,
Let's experiment with your suggested packages! :).

The scope for this issue is the following:

###  Configure prettier, husky and lint-staged to have a consistent coding style, taking in consideration the following requirements

#### Enforce these rules with prettier
* Tab width: 2
* Tabs: false
* Semicolons: true
* Trailing Commas: false
* Arrow Function Parentheses: avoid
* Print wi

[2019-02-09 16:17] StatusSceptre commented on #58
Seems good to me @richard-ramos

[2019-02-09 16:18] StatusSceptre commented on #58
@anshumanv you're tagged on this issue as an approved worker.

[2019-02-09 18:39] StatusSceptre opened #63 "Vote site not loading"
Tested on Chrome + Status today and the dapp isn't loading.

[code]

[2019-02-09 18:39] StatusSceptre commented on #63
@richard-ramos can you check when you have a moment?

[2019-02-09 19:32] richard-ramos commented on #63
Thanks for the bug report, @StatusSceptre,
I fixed this issue in commit: https://github.com/status-im/snt-voting/commit/7c9ed2b7b21351c52372884a6d7e81d77a92d045

--

@jakubgs , please update vote.status.im to point to this URL: https://ipfs.infura.io/ipfs/QmSmv5e5DYc2otwWcpUzuqmt389s3HHx651TbxDvKBFFue/
Thank you!

[2019-02-10 10:41] jakubgs commented on #63
Done: https://github.com/status-im/infra-misc/commit/3d1375558de3264ba7f731c29c0f176f0ff0fcbe

[2019-02-11 14:30] #63 closed

[2019-02-16 17:43] anshumanv commented on #59
Ping @richard-ramos @StatusSceptre, can you please audit this? 😄

[2019-02-18 17:55] #58 closed

[2019-02-18 17:56] richard-ramos commented on #58
Good work, @anshumanv!

[2019-03-06 15:01] richard-ramos opened #65 "HTTP links and MD support"
Http links in the descriptions of the polls and items should be clickable.
Also, I believe a previous version of the Voting Dapp supported MD format, but the code for that got lost with the new flow. It would be interesting if the poll creation flow supported this.